.terminal {
 color:             #FFFFFF;
 background-color:  #000000;
 border-top:        5px solid #000000;
 border-bottom:     5px solid #000000;
 border-left:       5px solid #000000;
 border-right:      5px solid #000000;
 border-radius:     3px;
 #font-family:      'Courier New', Courier, Fixed;
 margin-bottom:     10px;
 margin-left:       0;  
 margin-top:        10px;
 text-align:        left;
 line-height:       115%;
 padding:           10px 15px 10px 15px;
}
